.play-layout {
}

.row {
    margin: 2px;
}

.tile {
    width: 35px;
    height: 35px;
    background-color: rgba(54, 72, 95, 0.3);
    border: none;
    border-radius: 0;
    margin: 2px;
    color: white;
}

.red-tile {
    background-color: rgba(255, 0, 0, 0.4);
}

.green-tile {
    background-color: rgba(0, 255, 0, 0.4);
}

.uncovered-tile {
    background-color: rgba(0, 0, 0, 0);
}

.bombs-label {
    font-size: xx-large;
}

.restart-button {
    margin: 10px;
}


